<form #registerForm="ngForm" (ngSubmit)="changePassword()" autocomplete="off">
    <h2 class="text-center text-primary">Change password</h2>
    <hr>
    <div class="form-group">
        <input type="password" class="form-control" name="oldPassword" 
        [(ngModel)]="model.currentPassword" placeholder="Current password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="newPassword1" 
        [(ngModel)]="model.newPassword" placeholder="New password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="newPassword2" 
        [(ngModel)]="model.newPasswordConfirm" placeholder="Confirm new password">
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Change password</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>
